.location{
    font-size: 1.4rem;
    padding-left: 60px;
    margin-right: 40px;
}
.location__circle{
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background: #F0F2F6;
    left: 0;
}
.location__img{
    top: 12px;
    left: 13px;
}
.location__city{
    margin-top: 5px;
}
.phone{
    padding-left: 83px;
    margin-right: 20px;
}
.phone__circle-white{
    width: 27px;
    height: 27px;
    box-shadow: 0px 5px 15px rgba(25, 26, 28, 0.14);
    border-radius: 100%;
    left: 0;
    top: 8px;
}
.phone__img{
    width: 8px;
    top: 11px;
    left: 9px;
}
.phone__circle{
    width: 44px;
    height: 44px;
    background: #57AB27;
    border-radius: 100%;
    left: 21px;
}
.phone__icon{
    width: 19px;
    top: 12px;
    left: 13px;
}
.phone__timetable{
    margin-top: 5px;
    font-size: 1.4rem;
}





.content-call__start{
    bottom: 5px;
}
.content-call__img{
    width: 20px;
    padding-left: 17px;
    padding-right: 12px;
}
.content-call__number{
    font-size: 2.4rem;
}
.content-call__txt{
    margin: 0 40px;
}
.content-call__button{
    width: 240px;
    height: 60px;
    border: 1px solid #57AB27;
    border-radius: 2px;
    box-shadow: 0px 15px 40px rgba(15, 54, 1, 0.3);
}