*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 1.5rem;
    color: #191A1C;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: inherit;
}

input, button, select{
    font-size: inherit;
    font-family: inherit;
}
.link{
    text-decoration: none;
    color: black;
}
.small{
    font-size: 1.4rem;
}
.fz16{
    font-size: 1.6rem;
}
.op8{
    opacity: 0.8;
}
.green{
    color: #57AB27;
}
.grey{
    color: #818387;
}
.header{
    display: flex;
    align-items: center;
    padding: 20px 20px 0px 17px;
    margin-bottom: 23px;
    justify-content: end;
    flex-wrap: wrap;
}
.logo{
    position: relative;
    bottom: 12px;
    margin-right: auto;
    width: calc(100% - 120px);
}
.logo h1::before{
    content: "";
    display: inline-block;
    background: url("../icons/Logo.png");
    position: relative;
    height: 44px;
    width: 44px;
    background-size: contain;
    top: 15px;
    right: 6px;
}
.circle-call{
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background: #57AB27;
    margin-right: 29px;
    position: relative;
}
.circle-call_item{
    position: absolute;
    top: 12px;
    left: 12px;
    width: 19px;
}
.menu-mob__icon{
    width: 29px;
    height: 24px;
}
.menubar{
    display: none;
}
.mob-menu{
    display: none;
    position: relative;
    top: -40px;
}
.mob-menu__item{
    font-weight: 500;
    font-size: 15px;
    list-style: none;
    text-align: center;
    text-decoration: none;
    color: black;
    height: 20px;
    padding: 10px;
}
.menu-mob__input:checked ~ .mob-menu{
    display: block;
    position: relative;
    right: 40%;
    top: 0;
}
.menu-mob__input{
    display: none;
}
.first-screen{
    background: url("../images/Back-1.jpg");
    height: 509px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 50% left 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 25px 50px 25px;
}
.first-screen__title{
    margin-bottom: 23px;
}
.action{
    background: white;
    border-radius: 2px;
    padding: 23px;
    position: relative;
    width: 224px;
}
.action__calc{
    position: absolute;
    right: 30px;
    top: 23px;
}
.gain{
    width: 263px;
    height: 85px;
    background: #57AB27;
    color: white;
    font-size: 2.2rem;
    border-radius: 3px;
    margin-top: auto;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
}
.bonus{
    padding: 0 20px;
    background: white;
    height: 50px;
    display: flex;
}
.bonus__img{
    margin: auto;
    position: relative;
    top: -60px;
}
.advantage{
    padding: 40px 20px;
}
.advantage-item{
    padding: 30px 14px 26px 84px;
}
.advantage-item__img{
    position: absolute;
    left: 42px;
}
.advantage-item__title{
    font-size: 1.6rem;
}
.advantage-item__content{
    opacity: 0.8;
    margin-top: 10px;
}
.advantage-item:nth-child(2){
    background: #F0F2F6;
    margin-top: 25px;
}
.advantage-item:nth-child(4){
    background: #262B33;
    color: white;
}
.advantage-item:nth-child(7){
    background: #57AB27;
    color: white;
}
.content-advantage{
    padding: 45px 20px 50px;
    background: #F0F2F6;
    overflow: auto;
}
.content-advantage__title{
    margin-bottom: 23px;
}
.table{
    border-collapse: collapse;
    text-align: left;
}
.table-cell{
    position: relative;
    padding: 20px;
    font-size: 1.6rem;
}
.table-cell:first-child{
    padding-left: 95px;
}
.table-header{
    font-size: 1.4rem;
    font-weight: 400;
    padding: 20px;
    max-height: 50px;
}
.table-line:nth-child(even){
    background: rgba(255, 255, 255, 0.3);
}
.table-line:last-child{
    background: rgb(255, 255, 255);
}
.table-cell__img{
    position: absolute;
    left: 20px;
    top: 15px;
}
.table-cell__img_last{
    width: 116px;
    height: 56px;
    left: -30px;
}
.table-cell_last{
    background: #57AB27;
    color: white;
}
.content{
    padding: 35px 10px 40px;
}
.content__title{
    padding-left: 0px 0px 10px 10px;
}
.goods{
    position: relative;
    margin-top: 60px;
    padding: 100px 30px 33px;
    background: rgba(240, 242, 246, 0.4);
    border-radius: 3px;
}
.goods__img{
    position: absolute;
    top: -41px;
    left: 18px;
}
.goods__name{
    font-size: 1.8rem;
}
.goods__description{
    opacity: 0.6;
    padding: 10px 0px 20px;
}
.goods-table{
    text-align: left;
}
.goods-table-line_first{
    opacity: 0.6;
}
.goods-table-line_cell{
    padding-right: 30px;
}
.goods-table-line_cell:last-child{
    padding-right: 0;
}
.button-order{
    margin-top: 25px;
    background: #57AB27;
    border-radius: 2px;
    color: white;
    width: 162px;
    height: 52px;
    box-sizing: border-box;
    position: relative;
    padding: 15px 0px 0px 25px;
}
.button-order__img{
    position: absolute;
    right: 25px;
    bottom: 18px;
}
.calculator{
    background: #57AB27;
    padding: 40px 20px 60px;
    display: flex;
    flex-direction: column;
}
.calculator__title{
    color: white;
    margin-bottom: 30px;
}
.calculator-enter{
    background: white;
    border-radius: 3px;
    padding: 5px 25px 35px;
    width: 230px;
    margin: auto;
}
.calculator-enter-block{
    margin-top: 20px;
    position: relative;
}
.calculator-enter-block__name{
    padding-bottom: 10px;
}
.calculator-enter-block-field{
    position: relative;
}
.calculator-enter-block-field__input{
    border-radius: 2px;
    background: #F0F2F6;
    border: none;
    box-sizing: border-box;
    padding: 12px 25px;
    width: 232px;
    height: 54px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.calculator-enter-block-field__measure{
    position: absolute;
    left: 190px;
    top: 17px;
}
.calculator-enter-block_last{
    display: inline-block;
    margin-right: 25px;
}
.calculator-enter-block_last:last-child{
    margin-right: 0;
}
.calculator-enter-block-field_button{
    font-weight: 500;
    font-size: 1.6rem;
    border: none;
    background: white;
}
.calculator-enter-block-field__icon{
    margin-right: 5px;
}
.calculator-result{
    color: white;
    width: 280px;
    margin: auto;
}
.calculator-result__title{
    margin: 40px 0px 10px;
}
.calculator-result-content th{
    text-align: right;
    padding-left: 13px;
    vertical-align: bottom;
}
.calculator-result-content td{
    padding-top: 10px;
}
.calculator-result-total{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 25px 25px 30px;
    background: rgba(25, 26, 28, 0.6);
    border-radius: 3px;
}
.calculator-result-total-content{
    display: flex;
    align-items: baseline;
    padding-bottom: 15px;
}
.calculator-result-total-content__numbers{
    margin-left: auto;
    font-size: 2.4rem;
}
.calculator-result-total__button{
    width: 232px;
    height: 60px;
    background: white;
    border: none;
    border-radius: 2px;
}
.delivery{
    padding-top: 40px;
}
.delivery__title{
    padding-left: 20px;
}
.delivery__description{
    padding: 20px 20px 35px;
}
.delivery-contacts{
    padding: 30px 20px;
    background: #57AB27;
    color: white;
    position: relative;
    font-size: 1.8rem;
}
.delivery-contacts__img{
    position: absolute;
}
.delivery-contacts-location{
    position: relative;
    padding-left: 110px;
    margin-bottom: 20px;
}
.delivery-contacts-tel{
    position: relative;
    padding-left: 110px;
}
.delivery-contacts-location__img{
    position: absolute;
    left: 85px;
    top: 15px;
}
.delivery-contacts-tel__img{
    position: absolute;
    left: 85px;
    top: 5px;
}
.delivery-contacts__button{
    border: none;
    background: #191A1C;
    color: white;
    width: 280px;
    height: 60px;
    margin-top: 40px;
    border-radius: 2px;
}
.delivery-map{
    position: relative;
}
.delivery-map__icon{
    position: absolute;
    left: 145px;
    top: 150px;
}
.reviews{
    padding: 40px 0px;
}
.reviews__title{
    padding: 0px 20px 10px;
}
.reviews-content{
    margin-top: 30px;
    padding: 40px 20px;
    position: relative;
    background: rgba(240, 242, 246, 0.4);
}
.reviews-content__quotes{
    position: absolute;
    top: -10px;
}
.reviews-content-caption{
    display: block;
    font-style: normal;
    margin-top: 35px;
    padding-left: 84px;
    font-size: 1.8rem;
}
.reviews-content-caption__photo{
    position: absolute;
    left: 20px;
    bottom: 30px;
}
.delivery-contacts-tel__img{
    fill: ;
}