*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font: 400 1.5rem 'Gilroy', Arial, sans-serif;
    color:  black;
    min-height: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-size: 4.6rem;
}
h2{
    font-size: 3.8rem;
}
ul{
    list-style: none;
}
button{
    cursor: pointer;
}
address{
    font-style: normal;
}
input, button, select, textarea{
    font-size: inherit;
    font-family: inherit;
    border: none;
    color: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
:root{
    --main: #A47845;
    --hover: #AC4242;
    --grey: rgba(22, 22, 22, 0.6);
}
.fz14{
    font-size: 1.4rem;
}
.por{
    position: relative;
}
.poa{
    position: absolute;
}
.w100{
    width: 100vw;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper{
    max-width: 1150px;
}
.color_main{
    color: var(--main);
}
.additional-nav{
    border-bottom: 1px solid rgba(22, 22, 22, 0.1);
}
.menu{
    display: flex;
}
.menu__link{
    display: block;
    padding: 20px;
}
.menu__item_last{
    margin-left: auto;
}
.menu_add .menu__item:hover:after{
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    background: var(--main);
    bottom: -2px;
}
.menu__item_last{
    font-size: 1.5rem;
    color: var(--main);
    text-decoration: underline;
    text-underline-position: under;
    left: -20px;
}
.menu__item_last::before{
    content: "";
    display: block;
    position: absolute;
    width: 11px;
    height: 11px;
    background: url(../icons/mail-brown.svg);
    top: 19px;
    left: -5px;
    transition: left 0.3s ease-in;
}
.menu__item_last:hover:before{
    left: 0;
}
.menu__item_last:hover{
    text-decoration: none;
}
.menu__item_last:hover:after{
    content: "";
    display: none;
}
.nav{
    width: 100%;
}
.menu_main{
    align-items: center;
    font-weight: 700;
    padding: 25px 0;
}
.menu__item_product{
    width: 190px;
    height: 50px;
    background: var(--main);
    text-align: center;
    color: white;
    border-radius: 2px;
    padding-top: 15px;
    cursor: default;
    transition: all 0.3s ease-in;
}
.menu__item_product:hover{
    background: var(--hover);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.menu__item_product:hover .menu-drop{
    opacity: 1;
    z-index: 1;
}
.menu__gamburger{
    position: absolute;
    top: 17px;
    left: 0;
}
.menu__gamburger_in{
    width: 21px;
    height: 2px;
    background: white;
}
.gamburger_2{
    top: 7px;
    width: 14px;
    transition: width 0.3s ease-in;
}
.gamburger_3{
    top: 14px;
}
.menu-drop{
    display: flex;
    width: 653px;
    padding: 35px 50px;
    color: black;
    background: white;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.2);
    top: 50px;
    left: -52px;
    opacity: 0;
    z-index: -1;
}
.menu-drop__link{
    display: block;
}
.menu-drop-product{
    text-align: left;
}
.menu-drop__item{
    margin-bottom: 20px;
    text-decoration: underline;
    text-underline-position: under;
}
.menu-drop__item_firs-product{
    font-size: 2rem;
    color: var(--main);
    text-decoration: none;
}
.menu-drop-services{
    text-align: left;
    margin-left: 85px;
}
.menu-drop__item_firs-services{
    font-size: 2rem;
    color: var(--hover);
    text-decoration: none;
}
.menu__item_last-two{
    margin-left: auto;
}
.menu__link_tel{
    display: block;
    font-size: 1.8rem;
    font-weight: 800;
    transition: all 0.3s ease-in;
}
.menu__link_tel::before{
    content: "";
    display: block;
    position: absolute;
    background: url(../icons/call-black.svg) no-repeat;
    width: 11px;
    height: 11px;
}
.menu__link_feedback{
    color: var(--main);
    text-decoration: underline;
    text-underline-position: under;
    transition: all 0.3s ease-in;
}
.menu__link_feedback::before{
    content: "";
    display: block;
    position: absolute;
    background: url(../icons/arrow-brown.svg) no-repeat;
    width: 11px;
    height: 11px;
    
}
.menu__link_feedback:hover{
    text-decoration: none;
}
.menu__link_feedback:hover::before{
    padding-right: 6px;
}
.advantage{
    background: #E5E5E5;
}
.advantage-in{
    padding: 70px 0;
}
.advantage-in__txt{
    margin-top: 40px;
}